*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
header{
    background: #000;
    color: #fff;
    padding: 15px;
}
body{
    margin: 0;
}
input,select{
    width: 100% ;
    padding: 8px 12px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
main{
width: 80%;
margin: 20px auto;

}
