@font-face {
    font-family: roboto;
    src: url(../index.html);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

header{
    background-color: black;
    color: #fff;
    height: 100px;
    
}
header h1{
    
    padding-top: 30px;
}
body{
     
  background: gray;
    align-items: center;
    margin: 0;
    padding: 0;
}
#form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
#container{
width: 1000px;
margin: 40px auto;
align-items: center;
padding: 20px; 
margin-top: 40px;
}
.formulario{
width: 100%;

color: #000000;
}
.formulario div{
    display: flex;
    flex-direction: column; 
    

}
#form-grid input{
     width: 500px;
    border: solid rgb(24, 41, 0) 2px;
    height: 35px;
    border-radius: 3px;
    background-color:  rgb(65, 65, 65) ;
}
#form-grid select{
    width: 500px;
    border: solid rgb(24, 41, 0) 2px;
    height: 35px;
    border-radius: 3px;
    background-color:  rgb(65, 65, 65) ;
}
.btn{
width: 85px;
height: 30px;
background-color: green;
margin-top: 20px;
border-style: none;
color: #fff;    
border-radius: 3px;
}

/* CSS da Tabela */

th,td{
border: 1px solid black;
padding: 5px;

}
th{
background: rgb(30, 42, 51);
color: #fff;
padding: 10px 2px;
}
table{
    border-collapse: collapse;
    width: 100% ;
}



/* CSS da Tabela */