@font-face {
    font-family: roboto;
    src: url(../index.html);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

header{
    background-color: black;
    color: #fff;
    height: 100px;
    
}
header h1{
    
    padding-top: 30px;
}
body{
     
  
background-color: gray;
    margin: 0 auto;
    padding: 0;
}
#form-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
#container{
width: 1000px;
margin: 0 auto;
margin-left: 700px;
margin-top: 100px;



}
.formulario{
width: 100%;

color: #000000;
}
.formulario div{
    display: flex;
    flex-direction: column; 
    

}
#form-grid input{
     width: 500px;
    border-style: none;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(199, 199, 199);
}

.btn{
width: 85px;
height: 30px;
background-color: green;
margin-top: 20px;
border-style: none;
color: #fff;    
border-radius: 3px;
}